# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Node
node_modules/
build/
dist/
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS
.DS_Store
Thumbs.db

# Laravel
/vendor
/.env
/.env.*

# Logs
*.log

# Misc
*.sqlite3
coverage/ 